<section class="home-container">
  <div>
    <div class="home-texts">
        <h1 class="home-title">BUDGET <br> <span>TRA <%= image_tag "logo.png", class: 'logo'%> KER<span></h1>
        <p>Budget Tracker provides track of daily transaction that helps make wise financial desicions</p>
    </div>
    <div class="home-buttons">
      <%= link_to "LOG IN", new_user_session_path %>
      <%= link_to "SIGN UP", new_user_registration_path %>
    </div>
  </div>
</section>