@import url('https://fonts.cdnfonts.com/css/proxima-nova-2');

body {
  font-family: 'Proxima Nova', sans-serif;
  margin: 0;
}

.logo {
  width: 29px;
  height: 29px;
}

.home-container {
  margin: 10px;
}

.home-title {
  margin-top: 100px;
  text-align: center;
  font-size: 32px;
}

.home-title span {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.home-texts p {
  text-align: center;
}

.home-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 180px;
}

.home-buttons a {
  text-decoration: none;
  padding: 15px 0;
  text-align: center;
  width: 90%;
}

.home-buttons a:first-child {
  background-color: #3778c2;
  color: white;
  border-radius: 3px;
}

.home-buttons a:last-child {
  background-color: white;
  color: gray;
}

.category-icon {
  width: 100px;
  height: 100px;
}

.add-category-btn {
  display: block;
  position: fixed;
  bottom: 0;
  text-align: center;
  width: 100%;
  padding: 30px 0;
  text-decoration: none;
  color: #fff;
  background-color: #5fb523;
  outline: 1px white solid;
  outline-offset: -13px;
}

.height {
  height: 80px;
}
